header {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
header .announce {
  background: #EDB5F1;
  color: #FFFFFF;
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
header .menu-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
header .menu-nav div {
  width: 30%;
  text-align: center;
}
header .menu-nav .search {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .menu-nav .search .search-icon {
  width: 30px;
  height: 30px;
}
header .menu-nav .search input {
  font-size: 13px;
  border: none;
  min-width: 200px;
}
header .menu-nav .account-nav {
  display: flex;
  justify-content: end;
  gap: 8px;
}
header .menu-collection ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .menu-collection ul a {
  padding: 8px 12px;
}