.hero {
  width: 100%;
}
.hero .discount {
  background: #FCCEFF;
  text-align: center;
  padding: 20px 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 2.08px;
}
.hero .discount span {
  letter-spacing: normal;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 638.98px) {
  .hero .discount {
    font-size: 24px;
  }
}
.hero .banner {
  width: 100%;
  height: 860px;
  background: url("../images/banner.png") center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.hero .banner .spring-text {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  font-size: 200px;
  text-transform: uppercase;
  font-family: Impact, sans-serif;
  font-style: normal;
  font-weight: 400;
  user-select: none;
  -webkit-user-select: none;
}
.hero .banner .spring-text span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
}
@media (max-width: 990.98px) {
  .hero .banner .spring-text {
    font-size: 100px;
  }
}
@media (max-width: 638.98px) {
  .hero .banner .spring-text {
    font-size: 70px;
    margin-bottom: 50px;
  }
}
@media (max-width: 638.98px) {
  .hero .banner {
    justify-content: center;
    align-items: end;
  }
}
.hero .banner .collections {
  align-self: end;
  margin-bottom: 20px;
  margin-left: 350px;
}
.hero .banner .collections img {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}
@media (max-width: 990.98px) {
  .hero .banner {
    height: 660px;
  }
}
@media (max-width: 766.98px) {
  .hero .banner {
    height: 530px;
  }
}

.homepage-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.homepage-main .trend-section {
  background: #BDB4FF;
  padding: 40px 0 60px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.homepage-main .trend-section .tabs {
  font-size: 40px;
  color: #FFFFFF;
  font-weight: 900;
  text-transform: uppercase;
  padding: 20px 40px;
  border-bottom: 1px solid #FCCEFF;
}
.homepage-main .trend-section .tabs ul {
  display: flex;
  gap: 40px;
}
.homepage-main .trend-section .tabs ul .active-link {
  color: #FCCEFF;
}
@media (max-width: 766.98px) {
  .homepage-main .trend-section .tabs ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 990.98px) {
  .homepage-main .trend-section .tabs {
    font-size: 30px;
  }
}
@media (max-width: 766.98px) {
  .homepage-main .trend-section .tabs {
    font-size: 25px;
  }
}
.homepage-main .trend-section .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.homepage-main .trend-section .product-list-item {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-transform: uppercase;
  text-align: center;
}
.homepage-main .trend-section .product-list-item img {
  height: 400px;
  width: auto;
  object-fit: contain;
}
.homepage-main .trend-section .product-list-item-price {
  font-size: 32px;
  color: #EAFC88;
  font-weight: 900;
}
.homepage-main .trend-section .product-list-item-description {
  font-size: 19px;
  font-weight: 700;
  color: #FFFFFF;
}
.homepage-main .trend-section .product-list .view-more-button {
  text-transform: uppercase;
  font-family: Impact, sans-serif;
  font-size: 80px;
  font-weight: 400;
  color: transparent;
}
.homepage-main .trend-section .product-list .view-more-button a {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFFFFF;
  padding: 92px 52px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  position: relative;
  top: 33%;
}
@media (max-width: 660px) {
  .homepage-main .trend-section .product-list .view-more-button {
    margin: 90px 0;
  }
}
@media (max-width: 990.98px) {
  .homepage-main .trend-section .product-list {
    justify-content: center;
  }
}
@media (max-width: 660px) {
  .homepage-main .trend-section .product-list {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.homepage-main .future-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 60px 20px;
  background: #FFB985;
}
.homepage-main .future-section h2 {
  font-size: 84px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FFFFFF;
}
.homepage-main .future-section .future-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.homepage-main .future-section .future-list div {
  width: 280px;
}
@media (max-width: 630px) {
  .homepage-main .future-section .future-list {
    display: none;
  }
}
.homepage-main .future-section .future-list-mobile {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
.homepage-main .future-section .future-list-mobile .teaser-menu {
  align-self: start;
}
.homepage-main .future-section .future-list-mobile .photos {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.homepage-main .future-section .future-list-mobile .future-list-large-photo img {
  width: 328px;
  height: auto;
}
.homepage-main .future-section .future-list-mobile .future-list-teaser-photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}
.homepage-main .future-section .future-list-mobile .future-list-teaser-photos img {
  max-width: 160px;
  height: auto;
}
.homepage-main .future-section .future-list-mobile .future-list-teaser-photos .row {
  display: flex;
  gap: 4px;
}
@media (max-width: 630px) {
  .homepage-main .future-section .future-list-mobile {
    display: flex;
  }
}
.homepage-main .future-section .teaser-menu {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  align-self: end;
}
.homepage-main .future-section .teaser-menu ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #FFFFFF;
}
@media (max-width: 766.98px) {
  .homepage-main .future-section h2 {
    font-size: 60px;
  }
}
@media (max-width: 638.98px) {
  .homepage-main .future-section {
    padding: 40px 16px;
  }
  .homepage-main .future-section h2 {
    font-size: 50px;
  }
}