@import "variables";
@import "media";


footer {
  padding: 60px 0;
  display: flex;
  justify-content: center;

  .footer__inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: center;
      gap: 40px;
      text-align: center;
    }
  }

  .footer-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;

    h4 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
    }
    @include media-breakpoint-down(md) {
      gap: 12px;
    }
  }

  .about-us-info {
    max-width: 200px;

    ul {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      li {
        padding: 8px 0;
      }
    }
  }

  .payment-info {
    max-width: 220px;

    span {
      white-space: nowrap;
    }

    .payment-methods {
      display: flex;
      gap: 10px;

      img {
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
      }
    }

  }

  .contact-us-info {
    max-width: 280px;

    .mail-form {
      input {
        padding: 10px 0;
        width: 180px;
        border: unset;
        border-bottom: 1px solid $purple-100;
      }

      a {
        color: black;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 20px;
        background: $purple-100;
        border: 1px solid black;
        margin-left: 5px;
      }
    }


    .contact-icons {
      display: flex;
      gap: 16px;

      img {
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
      }
      @include media-breakpoint-down(md) {
        justify-content: center;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 16px;
  }
}