@import "variables";

footer {
  padding: 60px 0;
  display: flex;
  justify-content: center;

  .footer__inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .footer-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 16px;

    h4 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .about-us-info {
    max-width: 200px;

    ul {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;

      li {
        padding: 8px 0;
      }
    }
  }

  .payment-info {
    max-width: 220px;

    .payment-methods {
      display: flex;
      gap: 10px;

      img {
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
      }
    }
  }

  .contact-us-info {
    max-width: 280px;

    .mail-form {
      input {
        padding: 10px 0;
        border: unset;
        border-bottom: 1px solid $purple-100;
      }

      a {
        color: black;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px 20px;
        background: $purple-100;
        border: 1px solid black;
        margin-left: 5px;
      }
    }


    .contact-icons {
      display: flex;
      gap: 16px;

      img {
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
      }
    }
  }
}