@import "variables";
@import "media";


header {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 12px;

  .announce {
    background: $purple-100;
    color: $white;
    padding: 10px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
  }

  .menu-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;

    div {
      width: 33%;
      text-align: center;
    }

    .search {
      display: flex;
      align-items: center;
      gap: 10px;

      .search-icon {
        width: 30px;
        height: 30px;
      }

      input {
        font-size: 13px;
        border: none;
        width: 210px;
      }

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    .logo {
      img {
        @include media-breakpoint-down(sm-phone) {
          max-width: 66px;
        }
      }

    }

    .account-nav {
      display: flex;
      justify-content: end;
      gap: 8px;
    }
    @include media-breakpoint-down(sm-phone) {
      padding: 0 16px;
    }
  }

  .menu-collection {
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      a {
        padding: 8px 12px;
      }
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  .burger-menu-wrapper{
    width: 0 !important;
    @include media-breakpoint-down(md) {
      width: 33% !important;
    }
  }

  .burger-menu-toggle {
    max-width: fit-content;
    display: none;

    img {
      width: 24px;
      height: 24px;
    }

    &:hover {
      cursor: pointer;
    }

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

}

.off-canvas-menu {
  position: absolute;
  top: 0;
  left: -360px;
  background: $white;
  width: 280px;
  height: 100%;
  transition: 0.3s ease;
  display: flex;
  justify-content: space-between;
  padding: 20px;

  .burger-menu-close {
    max-width: fit-content;

    img {
      width: 24px;
      height: 24px;
    }
  }

  .menu-collection {
    ul {
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      gap: 20px;

      a {
        padding: 8px 12px;
      }
    }
  }

}

.off-canvas-menu.menu-open {
  left: 0;
  transition: 0.3s ease;
}