@import "variables";
@import "media";


.hero {
  width: 100%;

  .discount {
    background: $purple-50;
    text-align: center;
    padding: 20px 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2.08px;

    span {
      letter-spacing: normal;
      font-size: 16px;
      font-weight: 400;
    }

    @include media-breakpoint-down(sm) {
      font-size: 24px;
    }
  }

  .banner {
    width: 100%;
    height: 860px;
    background: url("../images/banner.png") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .spring-text {
      margin-left: 40px;
      display: flex;
      flex-direction: column;
      font-size: 200px;
      text-transform: uppercase;
      font-family: Impact, sans-serif;
      font-style: normal;
      font-weight: 400;
      user-select: none;
      -webkit-user-select: none;

      span {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $white;
      }

      @include media-breakpoint-down(tablet-sm) {
        font-size: 100px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 70px;
        margin-bottom: 50px;
      }

    }

    @include media-breakpoint-down(sm) {
      justify-content: center;
      align-items: end;
    }

    .collections {
      align-self: end;
      margin-bottom: 20px;
      margin-left: 350px;

      img {
        user-select: none;
        -webkit-user-select: none;
        -webkit-user-drag: none;
      }
    }

    @include media-breakpoint-down(tablet-sm) {
      height: 660px;
    }
    @include media-breakpoint-down(mobileLarge) {
      height: 530px;
    }
  }
}

.homepage-main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .trend-section {
    background: $blue-100;
    padding: 40px 0 60px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .tabs {
      font-size: 40px;
      color: $white;
      font-weight: 900;
      text-transform: uppercase;
      padding: 20px 40px;
      border-bottom: 1px solid $purple-50;

      ul {
        display: flex;
        gap: 40px;

        .active-link {
          color: $purple-50;
        }

        @include media-breakpoint-down(mobileLarge) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }

      @include media-breakpoint-down(tablet-sm) {
        font-size: 30px;
      }
      @include media-breakpoint-down(mobileLarge) {
        font-size: 25px;
      }

    }

    .product-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding: 0 20px;
      flex-direction: row-reverse;
      justify-content: flex-end;

      &-item {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        text-transform: uppercase;
        text-align: center;

        img {
          height: 400px;
          width: auto;
          object-fit: contain;
        }

        &-price {
          font-size: 32px;
          color: $yellow-100;
          font-weight: 900;
        }

        &-description {
          font-size: 19px;
          font-weight: 700;
          color: $white;
        }
      }

      .view-more-button {
        text-transform: uppercase;
        font-family: Impact, sans-serif;
        font-size: 80px;
        font-weight: 400;
        color: transparent;

        a {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $white;
          padding: 92px 52px;
          border: 1px solid $white;
          border-radius: 50%;
          position: relative;
          top: 33%;
        }

        @media (max-width: 660px) {
          margin: 90px 0;
        }
      }

      @include media-breakpoint-down(tablet-sm) {
        justify-content: center;
      }
      @media (max-width: 660px) {
        flex-direction: column-reverse;
        align-items: center;
      }
    }
  }

  .future-section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 20px;
    background: $orange-100;

    h2 {
      font-size: 84px;
      font-weight: 400;
      text-transform: uppercase;
      color: $white;
    }

    .future-list {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      div {
        width: 280px;
      }

      @media (max-width: 630px) {
        display: none;
      }
    }
    .future-list-mobile{
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      gap: 10px;
      .teaser-menu{
        align-self: start;
      }
      .photos{
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;
        align-items: center;
      }
      .future-list-large-photo{
        img{
          width: 328px;
          height: auto;
        }
      }
      .future-list-teaser-photos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        img{
          max-width: 160px;
          height: auto;
        }
        .row{
          display: flex;
          gap: 4px;
        }
      }
      @media (max-width: 630px) {
        display: flex;
      }
    }

    .teaser-menu {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 700;
      align-self: end;

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: $white;
      }
    }

    @include media-breakpoint-down(mobileLarge) {
      h2 {
        font-size: 60px;
      }
    }
    @include media-breakpoint-down(sm) {
      padding: 40px 16px;
      h2 {
        font-size: 50px;
      }
    }
  }
}